.header-search {
    max-height: 60px;
    position: relative;
    
    z-index: 10;
    
    width: 200px;

    display: none;
}

.site-branding .header-search {
    display: block;

    margin: 0 auto;
    width: calc(100% + 48px);
    left: 0px;

    clear: both;

    padding-top: 20px;
}

.header-search .search-field {
    padding: 5px 10px;
    font-size: 14px;
}

.site-branding .header-search .search-field {
    height: 32px;
}

.site-branding .header-search .search-field,
.site-branding .header-search .search-form,
.site-branding .header-search .search-form label {
    width: 100%;
    line-height: 1;
}

.logo-and-title {
    float: left;
    width: 210px;

    line-height: 1.25;
}
.secondary-button-holder {
    width: 210px;
    height: 1px;
    float: right;
}

.menu-header {
    width: calc(100% - 220px);
    float: left;
}

.page-header {
    margin-left: 0;
}
.no-results .page-content {
    margin-left: 0;
}

.top-bar .menu-header.active {
    float: none;
    width: auto;
}


/**
 * 16.1 Mobile Large 620px
 */
@media screen and (min-width: 38.75em) {
    .page-header {
        margin-left: 4.333%;
    }
    .no-results .page-content {
        margin-left: 4.333%;
    }

    .top-bar .site-title {
        line-height: 1;
        margin-top: 7px;
    }
}

/**
 * 16.2 Tablet Small 740px
 */
@media screen and (min-width: 46.25em) {
    .top-bar .site-title {
        margin-top: 4px;
    }

    .header-search {
        top: 13px;
    }

    .site-branding .header-search {
        width: calc(100% + 50px);
        top: 0;
    }
}

/**
 * 16.3 Tablet Large 880px
 */
@media screen and (min-width: 55em) {
    .site-branding .header-search {
        width: calc(100% + 55px);
    }

    .site-title {
        margin-top: 4px;
    }
}

/**
 * 16.4 Desktop Small 955px
 */
@media screen and (min-width: 59.6875em) {
    .logo-and-title {
        text-align: left;
        width: 100%;
    }
    .secondary-button-holder {
        width: auto;
    }

    .site-branding .header-search {
        display: block;

        margin: 6px auto 0;
        width: 250px;
        left: 30px;

        clear: none;

        padding-top: 6px;
    }

    .site-branding .header-search .search-field,
    .site-branding .header-search .search-form,
    .site-branding .header-search .search-form label {
        width: auto;
    }

    .header-search {
        
        float: right;
        margin-right: -15px;
    }

    .site-branding .header-search {
        display: none;
        width: auto;
    }

    .header-inner-wrapper .header-search {
        display: block;
    }
}

/**
 * 16.5 Desktop Medium 1100px
 */
@media screen and (min-width: 68.75em) {
    .header-search {

    }
}

/**
 * 16.6 Desktop Large 1240px
 */
@media screen and (min-width: 77.5em) {
    .header-search {
        top: 10px;
    }
}

/**
 * 16.7 Desktop X-Large 1403px
 */
@media screen and (min-width: 87.6875em) {

}